* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(7, 89, 157, 0.1725490196);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.header {
  height: 250px;
  background-color: #0a2230;
}

/* HEAD */
.header__backing {
  background-image: url(../img/head.jpg);
  background-repeat: no-repeat;
  background-position: -200px;
  width: 100%;
  height: 250px;
  position: relative;
}

.header__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 50px 0 0 50px;
}

.header__logo {
  max-width: 205px;
}

.header__laboratory {
  color: silver;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* MAIN */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 35px auto;
}

/* CONTENT */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  background-color: white;
  padding: 35px;
  margin: 0 15px;
  width: 1700px;
  position: relative;
}

.back-icon {
  color: rgb(11, 58, 119);
  font-size: 75px;
  position: absolute;
  top: 50px;
  left: 100px;
}

.content_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1000px;
}

.button-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 255px;
  height: 55px;
  background-color: rgb(11, 58, 119);
  margin-bottom: 5px;
  border-radius: 15px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.button-link:hover {
  background-color: white;
  border: 1px solid #0b3a77;
}

.button-link:hover .button-name {
  color: #0b3a77;
}

.button-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: white;
  font-size: 17px;
  font-weight: 700;
  height: 100%;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.button-big {
  width: calc(50% - 30px);
  height: 155px;
  margin: 50px 15px;
  padding: 25px;
}

/* FORM */
.iframe_box {
  margin-bottom: 50px;
}

.iframe_ca {
  width: 1050px;
  height: 700px;
}

.box-analysis {
  width: 530px;
  height: 100%;
  background-color: #ffffff;
  padding: 25px;
  border: 1px solid #167ec4;
  border-radius: 15px;
}

.analysis-name {
  font-size: 25px;
  text-align: center;
  color: #167ec4;
  text-decoration: underline;
  margin-bottom: 15px;
  font-weight: 700;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
}

.label {
  font-weight: 700;
  color: #167ec4;
  font-size: 20px;
}

.input {
  width: 100px;
  height: 35px;
  margin-bottom: 25px;
  padding-left: 15px;
  border: 1px solid #167ec4;
  border-radius: 5px;
  font-size: 20px;
}

.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ee7936;
  padding-left: 15px;
  margin: 20px 0;
  height: 55px;
  width: 50%;
  font-size: 25px;
  background-color: #ffffff;
  border: 1px solid #167ec4;
  border-radius: 5px;
  background-color: #eefbff;
}

.block-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-button__button {
  padding: 10px;
  background-color: #167ec4;
  color: white;
  border: 3px solid #74c0f3;
  border-radius: 5px;
  font-size: 17px;
}

.block-button__button:hover {
  cursor: pointer;
}

.block-button__button:active {
  background-color: white;
  color: #167ec4;
  border: 3px solid #167ec4;
}

.block-button__button:focus {
  background-color: white;
  color: #167ec4;
}

/* PARTNERS */
.partners-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-weight: 700;
  color: rgb(11, 58, 119);
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 63px;
}

.partners__wrapper {
  width: 200px;
  margin-right: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.partners__wrapper:hover {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.partners__wrapper:hover .partners__wrapper_logo,
.partners__wrapper:hover .partners__wrapper_name {
  -webkit-filter: none;
          filter: none;
}

.partners__wrapper:last-child {
  margin-right: 0;
}

.partners__wrapper_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.partners__wrapper_logo {
  height: 50px;
  padding: 5px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.partners__wrapper_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #0b3a77;
  height: 50px;
  padding: 5px;
  font-weight: 700;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* FOOTER */
.footer {
  height: 100px;
  width: 100%;
  background-color: #154d6d;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 25px;
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
}

.footer__copyright {
  color: white;
  font-size: 12px;
}

/* MEDIA */
@media (max-width: 450px) {
  .header__laboratory {
    font-size: 23px;
    padding-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */